body {
    font-family: 'Times', serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    /* overflow: hidden; */
}

main {
    position: relative;
    top: 10rem;
}

article h1 {
    font-family: 'Algerian', Arial, sans-serif;
    font-style: italic;
    font-size: 3em;
    text-decoration: double;
    word-spacing: 1rem;
    text-align: center;
    text-indent: 20px;
    text-shadow: 2px 1px #69efec;
    margin: 5px;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    line-height: 2em;
    min-width: 200px;
    max-width: 1200px;
    margin: 2px;
    padding: 5px;

}

p::first-letter {
    font-size: 2em;
    font-family: 'Brush Script MT', 'Trebuchet MS';
    font-style: italic;
    color: rgb(247, 89, 89);
    text-decoration: underline;
    background-color: rgb(24, 64, 119);
    background-color: rgb(231, 236, 169);

}

p::highlight {
    font-style: italic;
}

p::first-line {
    font-weight: 700;
    text-decoration: underline;

}


article {
    text-align: center;
    word-spacing: 0.5em;
    border-width: 3px;
    border-style: solid;
    border-radius: 1em 1em 1em 1em / 3em 3em 3em 3em;
    border-color: blueviolet;
    padding: 1px;
    margin: 10px;
    width: fit-content;
}

option {
    font-family: 'Pristina', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: double;
    letter-spacing: 0.5em;

}

input:focus {
    color: rgb(255, 0, 8);
}

details {
    width: 300px;
}