body {
    font-family: 'Times', serif;
    font-size: 16px;
}

h1 {
    font-family: 'Algerian', Arial, sans-serif;
 font-size: x-large;
    text-decoration: double;
    word-spacing: 1rem;
    text-align: center;
    text-indent: 20px;
    text-shadow: 2px 1px #69efec;
    margin: 5px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    line-height: 2em;
    min-width: 400px;
    max-width: 1200px;
}

p::first-letter {
    font-size: 2em;
    font-family: 'Brush Script MT', 'Trebuchet MS';
    font-style: italic;
    color: rgb(190, 33, 33);
    text-decoration:underline;
}

p::first-line {
    background-color: rgb(236, 169, 169);
}


article {
    text-align: center;
    word-spacing: 0.5em;
}

option {
    font-family: 'Pristina', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: double;
    letter-spacing: 0.5em;

}

input:focus {
    color: rgb(255, 0, 8);
}