@import url('formStyle.css');
@import url('homeTag.css');


header {
    width: 98dvw;
    opacity: 100%;
    background-color: rgb(235, 160, 38);
    font-size: 1.5em;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    text-align: center;
    justify-content: baseline;
    height: 90px;
    z-index: 15;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}