header {
    position: fixed;
    top: 0px;
    left: 1px;
    width: 99dvw;
    z-index: 10;
    opacity: 100%;
    background-color: rgb(224, 239, 111);
    font-size: 1.5em;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
    text-align: center;
    justify-content: baseline;
    height: 90px;
}

header img {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 2px;
}




header a {
    text-align: center;
    margin: 5px auto 5px auto;
    padding: 5px;
}

a:link {
    color: rgb(20, 106, 255);
    margin: 2px;
    padding: 2px;

}

a:visited {
    color: rgb(84, 56, 146);
    margin: 2px;
    padding: 2px;
}

a:hover {
    /* font-size: 19px; */
    margin: 2px;
    padding: 2px;
}

a:active {
    color: darkcyan;
    margin: 2px;
    padding: 2px;
}

/* Login Form */
#LoginForm {
    font-size: 0.5em;
}

#LoginForm fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* allowed  */
    /* align-items: flex-start;
    width: fit-content; */
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    text-align: right;
    align-items: center;
    align-content: center;
    width: auto;
    padding: 2px;

}

#LoginForm legend {
    background-color: aliceblue;
    border: 1px solid #dcdcdc;
    border-radius: 0.4em;
    text-align: center;
    text-transform: uppercase;
}

#LoginForm label {
    margin: 0.1em;
    /* text-align: right; */
}

#LoginForm input {
    width: 7em;
}

#LoginForm label div {
    display: inline-block;
    width: 4.5em;
    padding: 1px;
    margin: 1px;
}

#LoginForm input[type="submit"] {
    display: inline-block;
    color: #5c6eb9;
    border: 1px solid black;
    border-radius: 0.4em;
    width: 5em;
}

/* drop menu */
#list {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: start;
}

#list #SeconLayer {
    display: none;
    text-align: start;
}

#list:hover #SeconLayer {
    display: block;
}

#About .About,
#Contact .Contact {
    display: none;
    text-align: start;
}

#About:hover>.About,
#Contact:hover>.Contact {
    display: inline;
    background-color: #49bb5a;
}

#list .box {
    padding: 1px;
    margin: 5px;
    background-color: rgb(235, 136, 187);
    transition: opacity 0.6s ease;
    transition: background-color 0.6s ease;
    border-radius: 0.2em;
    text-align: center;
    border: 1px solid black;
    width: 4em;
}

#list .box:not(:hover) {
    opacity: 0.9;
    background-color: rgb(113, 241, 241);
}