#navList {
    display: flex;
    flex-direction: column;
    text-align: justify;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-justify: distribute;
    justify-content: space-around;
    transition: all 1s ease-in-out;
}

/*  created squer */
#homeTag {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 2px 2px 2px 2px/ 3px 3px 3px 3px;
    transition: all 0.6s ease-in-out;
}

/* style box */
.box {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    width: 100px;
    background-color: rgb(244, 213, 213);
    border-radius: 5px 5px 5px 5px/ 10px 10px 10px 10px;
    transition: all 0.6s ease-in-out;
}

/* attribute some element li placed before second leyer of list  */
#About {
    display: flex;
}

/* Animation squer reaction */
#navList:hover #homeTag {
    background-color: blue;
    rotate: 90deg;
    border-radius: 10px 10px 10px 10px/ 15px 15px 15px 15px;
    cursor: pointer;
}

/* Chenging whole block nav */
#navList:hover {
    width: auto;
    height: fit-content;
    background-color: rgb(174, 117, 26);
    border-radius: 5px 5px 5px 5px/ 10px 10px 10px 10px;
    text-align: justify;
    list-style-type: none;
    /* overflow: hidden; */
    text-justify: distribute;
    justify-content: space-around;
    transition: all 1s ease-in-out;
}

/* make list not displaying */
.listNav {
    display: none;
}

/* display list */
#navList:hover .listNav {
    display: block;
    transition: all 1s ease-in-out;
}

/* make list inside list with out style and not displaying */
.About,
.Contact {
    display: none;
}

.secondLayer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* display list inside list */
ul:has(#About:hover) .About,
ul:has(#Contact:hover) .Contact {
    display: block;
    transition: all 1s ease-in-out;
}