:root {
    --main-color-light: #e0419b;
    --main-color-dark: #2c3e50;
    --color-background: #ade1a5;
}
/* 
* {
    outline: 1px dashed rgba(0, 0, 0, 0.2);
} */

#list1 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    justify-content: space-around;
    transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out;
}

#list1 * {
    text-align: center;
}

.list2 {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    list-style: none inside none;
    margin: 0;
    padding: 0;
    transition: all 5s ease-in-out;
}

.list2v1 {
    display: flex;
    flex-direction: column;
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.firstPart {
    flex: 0 0 100px;
}

/*  created squer */
#homeTag {
    width: 30px;
    height: 30px;
    background-color: var(--main-tag-color);
    border-radius: 3px 3px 3px 3px;
    transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* style box */
.box {
    width: 100px;
    height: 30px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--main-color-light);
    background-color: var(--color-background);
    flex: 0 0 100px;
}

/* Animation squer reaction */
#list1:hover #homeTag {
    background-color: var(--main-accent-color);
    rotate: 90deg;
    border-radius: 15px;
    cursor: pointer;
}

/* Chenging whole block nav */
#list1:hover {
    width: auto;
    height: fit-content;
    background-color: rgb(174, 117, 26);
    border-radius: 10px;
    text-align: justify;
    list-style-type: none;
    /* overflow: hidden; */
    text-justify: distribute;
    justify-content: space-around;
    transition: all 5s ease-in-out;
}

/* make list not displaying */
.list1v2 {
    display: none;
}



/* display list */
#list1:hover .list1v2 {
    display: block;
    transition: all 5s ease-in-out;
}

/* make list inside list with out style and not displaying */
.list2v2 {
    display: none;
}

.list2:hover .list2v2 {
    display: block;
}